  .portfolioFilter div {
    transition: all 0.3s ease-out;
    color: #28282e;
    font-weight: 600;
    padding: 5px 10px;
    display: inline-block;
    margin-bottom: 5px;
    border-radius: 3px;
  }
  
  div.portfolioFilter > div:hover {
    cursor: pointer;
    color: #9422a3;
  }
  
  .portfolioFilter div.current {
    color: #ffffff;
    background-color: #9422a3;
  }